<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="cube"></ion-icon> Entidades</ion-title>
    <ion-searchbar (ionChange)="onSearchTerm($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion>
    <ng-container *ngFor="let module of modules as modules; index as i">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" color="primary">
        <mat-expansion-panel-header >
          <mat-panel-title>{{module.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let entity of module.entities as entities; index as i">
          <ion-item [routerLink]="['/entities/',entity.id]">{{entity.title}}</ion-item>
        </ng-container>
        </mat-expansion-panel>
      </ng-container> 
    </mat-accordion>
</ion-content>

